<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="SpecificationFilesFolder" value="Configs\SpecFiles" />
  <add key="ReferenceFilesFolder" value="Configs\ReferenceFiles" />
  <add key="DictionariesFilesFolder" value="Configs\Dictionaries" />
  <add key="Images" value="Configs\Images" />
</configuration>