<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!--The relaive path where the specification files are looked for-->
    <add key="SpecificationFolder" value=".\Configuration\Specifications" />
    <!--The relaive path where the reference files are looked for-->
    <add key="ReferenceFolder" value=".\Configuration\References" />
    <!--The relaive path where the measurement data files are looked for-->
    <add key="MeasurementFolder" value=".\Configuration\Measurements" />
    <!--The relaive path where the results will be saved-->
    <add key="ResultFolder" value=".\Results" />
    <!--The relaive path where the plugins are looked for-->
    <add key="PluginsFolder" value=".\Plugins" />
  </appSettings>
</configuration>
