<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!--The relaive path where the component xml files are looked for-->
    <add key="PluginFolder" value="Plugins" />
    <!--The relaive path where the specification files are looked for-->
    <add key="Configuration\Specifications" value="relative path of the specification folder" />
  </appSettings>
</configuration>
