<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="errorfile" 
			xsi:type="File"
						archiveEvery="Day"
						maxArchiveFiles="30"
						fileName="{App}//Logs//ERROR.log" 
						archiveFileName="{App}//Logs//Archive//ERROR-{###}.log"
						archiveNumbering="Rolling"
						autoFlush="true"
						concurrentWrites="true"
						encoding="iso-8859-2"
						keepFileOpen="false"
						layout="${longdate} (${logger}):${message}${exception:format=tostring}" />  
			
				<target name="componentfile" 
						xsi:type="File"
						archiveEvery="Day"
						fileName="{App}//Logs//${logger}.log" 
						maxArchiveFiles="14"
						archiveFileName="{App}//Logs//Archive//${logger}-{###}.log"
						archiveNumbering="Rolling"
						autoFlush="true"
						concurrentWrites="true"
						encoding="iso-8859-2"
						keepFileOpen="true"
						layout="${longdate} (${level}):${message}${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*"	minlevel="Error" 	writeTo="errorfile"/>
		<logger name="*"	minlevel="Trace" 	writeTo="componentfile" />
	</rules>
</nlog>
