<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Section Name="ComponentList" Assembly="ComponentList">
    <Components>
      <Component Name="MeasurementEvaluator" Type="IRunable" />
	  <Component Name="MainWindow" Type="IWindowUIWPF" />
	  <Component Name="EvaluationTab" Type="ITabUIWPF" />
	  <Component Name="EditorTab" Type="ITabUIWPF" />
	  <Component Name="DataCollectorUI" Type="IUserControlUIWPF" />
	  <Component Name="DataCollector" Type="IDataCollector" />
	  <Component Name="ResultGridUI" Type="IUserControlUIWPF" />
	  <Component Name="ResultHandlingUI" Type="IUserControlUIWPF" />
	  <Component Name="StandardDateTimeProvider" Type="IDateTimeProvider" />	  
	  <Component Name="SpecificationRepo" Type="IToolSpecificationRepository" />
	  <Component Name="ReferenceRepo" Type="IReferenceRepository" />
	  <Component Name="MeasurementDataRepo" Type="IMeasurementDataRepository" />
	  <Component Name="HDDXmlSerializator" Type="IHDDFileReaderWriter" />
	  
    </Components>
  </Section>
</Configurations>