<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Section Name="DataCollector" Assembly="DataCollectorParameters">
    <!--Name of date and time provider-->
    <Parameter Name="Date and time Provider" Value="StandardDateTimeProvider" />
    <!--Measurement Data Repository-->
    <Parameter Name="Name of the measurement Data repository" Value="MeasurementDataRepo" />
    <!--Reference Repository-->
    <Parameter Name="Name of the reference repository" Value="ReferenceRepo" />
    <!--Specification Repository-->
    <Parameter Name="Name of the specification repository" Value="SpecificationRepo" />
  </Section>
  <Section Name="SpecificationRepo" Assembly="HDDRepositoryParameters">
    <!--File extension of the files used in the given repository folder-->
    <Parameter Name="File Extension" Value="">
      <Element Value=".Spec" />
    </Parameter>
    <!--Name of the reader writer component-->
    <Parameter Name="Name of the reader writer component" Value="HDDXmlSerializator" />
  </Section>
  <Section Name="ReferenceRepo" Assembly="HDDRepositoryParameters">
    <!--File extension of the files used in the given repository folder-->
    <Parameter Name="File Extension" Value="">
      <Element Value=".Ref" />
    </Parameter>
    <!--Name of the reader writer component-->
    <Parameter Name="Name of the reader writer component" Value="HDDXmlSerializator" />
  </Section>
  <Section Name="MeasurementDataRepo" Assembly="HDDRepositoryParameters">
    <!--File extension of the files used in the given repository folder-->
    <Parameter Name="File Extension" Value="">
      <Element Value="" />
    </Parameter>
    <!--Name of the reader writer component-->
    <Parameter Name="Name of the reader writer component" Value="HDDXmlSerializator" />
  </Section>
</Configurations>