<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--The relative path where the specification files are looked for-->
    <add key="SpecificationFolder" value=".\Configuration\Specifications" />
    <!--The relative path where the reference files are looked for-->
    <add key="ReferenceFolder" value=".\Configuration\References" />
    <!--The relative path where the measurement data files are looked for-->
    <add key="MeasurementFolder" value=".\Configuration\Measurements" />
    <!--The relative path where the results will be saved-->
    <add key="ResultFolder" value=".\Results" />
    <!--The relative path where the plugins are looked for-->
    <add key="PluginsFolder" value=".\Plugins" />
  </appSettings>
</configuration>