<?xml version="1.0" encoding="utf-8"?>
<Configurations>
  <Section Name="EvaluationTab" Assembly="EvaluationTabUIWPFParameters">
    <!--Tabpage names-->
    <Parameter Name="DataCollectorUIWPF" Value="DataCollectorUI" />
    <!--Tabpage names-->
    <Parameter Name="ResultGridUIWPF" Value="ResultGridUI" />
    <!--Tabpage names-->
    <Parameter Name="ResultHandlingUIWPF" Value="ResultHandlingUI" />
  </Section>
  <Section Name="DataCollectorUI" Assembly="DataCollectorUIWPFParameters">
    <!--Name of DataCollector component-->
    <Parameter Name="DataCollector Name" Value="DataCollector" />
  </Section>
  <Section Name="MainWindow" Assembly="MainWindowParameters">
    <!--Tab names-->
    <Parameter Name="Tab Names" Value="">
      <Element Value="EvaluationTab" />
      <Element Value="EditorTab" />
    </Parameter>
  </Section>
  <Section Name="EditorTab" Assembly="EditorTabUIWPFParameters">
    <!--Data Collector user control name-->
    <!--<Parameter Name="DataCollectorUIWPF" Value="" />-->
    <!--Result grid user control name-->
    <!--<Parameter Name="ResultGridUIWPF" Value="" />-->
    <!--Result handling user control name-->
    <!--<Parameter Name="ResultHandlingUIWPF" Value="" />-->
  </Section>
</Configurations>